body {
    font-family: 'Indie Flower', cursive;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.cover-image {
    width: 100%;
    height: 200px;
    background-image: url('assets/wock-cover.webp');
    background-size: cover;
    background-position: center;
    padding: 10px 0; /* Add padding to ensure the image is not cut off */
}

.description {
    text-align: center;
}

.container {
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.ore {
    width: 150px;
    height: 150px;
    background-image: url('assets/wock1-1.webp');
    background-size: cover;
    cursor: pointer;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.happiness-container {
    width: 150px;
    height: 20px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    margin: 10px auto;
}

.happiness-bar {
    height: 100%;
    background-color: #76c7c0;
    width: 0;
}

.score {
    margin: 10px 0;
    
}.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
    white-space: nowrap; /* Prevent wrapping to the next line */
}

.social-media a {
    margin: 0 5px; /* Adjust spacing between icons */
}

.social-media img {
    max-width: 60px; /* Set maximum width for the icons */
    max-height: 60px; /* Set maximum width for the icons */
    height: auto; /* Maintain aspect ratio */
}

/* Adjust size of icons for smaller screens */
@media screen and (max-width: 768px) {
    .social-media img {
        max-width: 40px; /* Decrease size for smaller screens */
        max-height: 40px; /* Set maximum width for the icons */
    }
}


.social-media img {
    width: 55px; /* Adjust size */
    height: 55px; /* Adjust size */
}

/* Particle effects */
.particles, .large-particles {
    position: absolute;
    background-color: gray;
    border-radius: 50%;
    pointer-events: none; /* Ensure the particles don't interfere with clicking */
}

.particles {
    width: 5px;
    height: 5px;
    animation: particle-effect 1s ease-out forwards;
}

.large-particles {
    width: 20px;
    height: 20px;
    animation: large-particle-effect 1s ease-out forwards;
}

@keyframes particle-effect {
    0% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(var(--random-x), var(--random-y)) scale(1.5);
    }
}

@keyframes large-particle-effect {
    0% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(var(--random-x), var(--random-y)) scale(3);
    }
}
