body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.ore {
    width: 150px;
    height: 150px;
    background-image: url('ore1.png');
    background-size: cover;
    cursor: pointer;
}
