body {
    font-family: 'New Rocker', cursive;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.cover-image {
    width: 100%;
    height: 200px;
    background-image: url('assets/cover-image.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 20px; /* Add space above the cover image */
    margin-bottom: 20px; /* Add space below the cover image */
    padding: 10px 0; /* Add padding to ensure the image is not cut off */
}

.description {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.ore {
    width: 150px;
    height: 150px;
    background-image: url('assets/wock1-1.png');
    background-size: cover;
    cursor: pointer;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.happiness-container {
    width: 150px;
    height: 20px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    margin: 10px auto;
}

.happiness-bar {
    height: 100%;
    background-color: #76c7c0;
    width: 0;
}

.score {
    margin: 10px 0;
}

.social-media {
    text-align: center;
    margin-top: 20px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
}

.social-media img {
    width: 40px;
    height: 40px;
}
